.form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkbox, .checkbox__label {
  cursor: pointer;
}

.input:not(:placeholder-shown) + .input__label, 
.input:focus:not(:read-only) + .input__label {
  top: -.5rem;
  font-weight: 500;
  transition: all .25s;
  background-color: var(--gray-50);
  cursor: default;
}

.input:not(:placeholder-shown) + .input__label {
  color: var(--gray-500);
}

.input:focus:not(:read-only) + .input__label {
  color: var(--purple-500);
}

.input:read-only + .input__label {
  color: var(--gray-400);
}

.input__error-message {
  margin-top: 4px;
  margin-left: 1px;
  user-select: none;
  font-size: .75rem;
  color: var(--red-400);
}

.input-container.invalid  .input__label,
.house-number-container.invalid  .input__label {
  color: var(--red-400);
}

.input-container.invalid .input,
.house-number-container.invalid .input {
  border: 1px solid var(--red-400);
}