* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: var(--white);
  background-color: rgba(146, 34, 220, .8);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  font-family: 'Poppins', sans-serif;
  background-color: var(--purple-200);
}

/* width de 100% quando chegar a largura de 550px */
.content-container {
  max-width: 1280px;
  padding: 40px 56px;
  border-radius: 1rem;
  color: var(--gray-500);
  box-shadow: 0px 8px 24px 0px rgba(23, 23, 23, .2);
  background-color: var(--gray-50);
}

.self-care-img {
  width: 320px;
  border-radius: 17% 83% 52% 48% / 63% 67% 33% 37%;
  background-color: #9222dc0e;
}

.woman-img {
  width: 320px;
  border-radius: 30% 70% 64% 36% / 30% 46% 54% 70%;
  background-color: #9222dc0e;
}