.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  user-select: none;
  box-shadow: none;
  border: 2px dashed var(--gray-300);
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.resume-border {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  background-color: transparent;
}

.circle {
  width: 60px;
  height: 60px;
  clip-path: circle(16px at bottom);
  background-color: var(--purple-200);
}

.main__heading {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
}

.section__heading {
  margin-bottom: .5rem;
  font-size: 1.125rem;
}

.dashed-line {
  width: 100%;
  height: 2px;
  border-top: 2px dashed var(--gray-300);
}

.form__btn {
  align-self: flex-end;
  margin: 1rem 0;
}

@media screen and (min-width: 320px) {
  .resume {
    align-items: flex-start;
  }
}