.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: .75rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--gray-400);
  font-family: 'Poppins', sans-serif;
  color: var(--gray-500);
  background-color: var(--gray-50);
}

input:read-only:not([type='checkbox']) {
  color: var(--gray-400);
  cursor: default;
}

.input:focus-visible,
.input:focus {
  outline: none;
}

.input:focus-visible:not(:read-only), 
.input:focus:not(:read-only) {
  border: 1px solid var(--purple-500);
}

.input::placeholder {
  opacity: 0;
}

.input.inactive,
.input.inactive:focus {
  border: 1px solid var(--gray-300);
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
	display: inline-block;
	border-radius: 4px;
	border: 1px solid var(--gray-400);
  background-color: var(--gray-50);
}

.checkbox:active, 
.checkbox:checked,
.checkbox:checked:active {
  border: 1px solid var(--purple-500);
	background-color: var(--purple-500);
}

.checkbox:checked::after {
	content: url(../../assets/icons/check.svg);
  display: flex;
}

.checkbox:focus, 
.checkbox:focus-visible {
  outline: 1px solid var(--purple-800);
}

.calendar-icon {
  width: 20px;
  position: absolute;
  top: 14px;
  right: 16px;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .row-input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
  }
  
  .house-number-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 350px) {
  .row-input-field {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  
  .house-number-container {
    width: 50%;
  }
}