.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.number-field {
  flex-direction: row;
  gap: 1rem;
}

.number-field .input {
  width: 0;
  flex-grow: 1;
}

.input {
  width: 100%;
  padding: .75rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--gray-400);
  font-family: 'Poppins', sans-serif;
  color: var(--gray-500);
  background-color: var(--gray-50);
}

.input:focus-visible, .input:focus {
  outline: none;
  border: 1px solid var(--purple-500);
}

.input::placeholder {
  opacity: 0;
}

.input.inactive,
.input.inactive:focus {
  border: 1px solid var(--gray-300);
}

.checkbox {
  appearance: none;
  z-index: 0;
	display: inline-block;
	padding: 9px;
	border-radius: 4px;
	border: 1px solid var(--gray-400);
  background-color: var(--gray-50);
}

.checkbox:active, 
.checkbox:checked,
.checkbox:checked:active {
  border: 1px solid var(--purple-500);
	background-color: var(--purple-500);
}

.checkbox:checked {
  padding: 0;
}

.checkbox:checked::after {
	content: url(../assets/icons/check.svg);
  display: flex;
}

.checkbox:focus {
  outline: 1px solid var(--purple-800);
}